<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheatsdev.cheatsbibleforgames">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET">

    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/cheats_bible"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cheats_bible"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cheatsdev.cheatsbibleforgames.AssassinsCreed"></activity>
        <activity android:name="com.cheatsdev.cheatsbibleforgames.AngryBirdsPC" />
        <activity android:name="com.cheatsdev.cheatsbibleforgames.AlienShooterVengeance" />
        <activity android:name="com.cheatsdev.cheatsbibleforgames.Angry_gran_run" />
        <activity android:name="com.cheatsdev.cheatsbibleforgames.AssassinCreedSyndicate"></activity>

        <activity android:name=".AlanWake"></activity>
        <activity android:name=".Dmcry4"></activity>
        <activity android:name=".TheAmazingSpiderMan"></activity>
        <activity android:name=".Farcry2"></activity>
        <activity android:name=".Bioshock"></activity>

        <activity android:name=".AssassinCreedUnityDeadKings"></activity>
        <activity android:name=".AssassinCreedBrotherhood"></activity>


        <activity android:name=".Arma2"></activity>
        <activity android:name=".BatmanVengeance"></activity>
        <activity android:name=".Dmcry5"></activity>
        <activity android:name=".Farcry3"></activity>

        <!-- <activity android:name=".></activity>-->

        <activity android:name="com.cheatsdev.cheatsbibleforgames.AssassinCreedIII">

        </activity>
        <activity
            android:name="com.cheatsdev.cheatsbibleforgames.Appintro"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cheatsdev.cheatsbibleforgames.AssassinCreedII"></activity>

        <!--<activity android:name=".AssassinsCreed"></activity>-->

        <activity
            android:name="com.cheatsdev.cheatsbibleforgames.MainActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name="com.cheatsdev.cheatsbibleforgames.AngryBirds"
            android:parentActivityName="com.cheatsdev.cheatsbibleforgames.Home" />
        <activity android:name="com.cheatsdev.cheatsbibleforgames.ex" />
    </application>

</manifest>